//////////////////
//BASE
:root {
  --color-grey-light: #f0eeee;
  --color-grey-light-2: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(
    to right bottom,
    rgb(64, 84, 64),
    rgb(37, 71, 37)
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

//////////////////
//Nav
.container {
  width: 80rem;
  border-radius: 50%;
  margin: 8rem auto;
  background-color: var(--color-grey-dark-2);
  &__nav {
    display: flex;
    justify-content: center;
  }

  &__list {
    display: flex;
    list-style: none;
    margin: 2rem 0;
  }

  &__items {
    font-size: 2.5rem;
    display: flex;
    justify-content: space-around;
    color: #fff;
    padding: 0 2rem;
  }
}
